<a href="https://colab.research.google.com/github/amanullah20/rdd_project/blob/main/class15_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=acb0fcb5e659667951d8cd97fb06f19dbff0db981838a515e86c597bd46dc1a0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [4]:
df = spark.createDataFrame([(1, 'John'), (2, 'Doe'), (3, 'Alice')], ['ID', 'Name'])
df.show()

+---+-----+
| ID| Name|
+---+-----+
|  1| John|
|  2|  Doe|
|  3|Alice|
+---+-----+

In [5]:
rdds=df.rdd.collect()

In [6]:
clean_rdd=df.rdd.map(lambda x:[x[0],x[1]])

In [7]:
rdds

[Row(ID=1, Name='John'), Row(ID=2, Name='Doe'), Row(ID=3, Name='Alice')]

In [8]:
clean_rdd.collect()

[[1, 'John'], [2, 'Doe'], [3, 'Alice']]

In [10]:
ps = spark.read.csv('/content/aiquest_sales_data_bde_batch - aiquest_sales_data_bde_batch.csv',sep=',',header=True,inferSchema=True)

In [11]:
ps.dtypes

[('Transaction_date', 'string'),
 ('Product', 'string'),
 ('Price', 'string'),
 ('Payment_Type', 'string'),
 ('Name', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Country', 'string'),
 ('Account_Created', 'string'),
 ('Last_Login', 'string'),
 ('Latitude', 'double'),
 ('Longitude', 'double')]

In [12]:
ps.printSchema()

root
 |-- Transaction_date: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Account_Created: string (nullable = true)
 |-- Last_Login: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [14]:
ps.select(ps.City).show()

+--------------+
|          City|
+--------------+
|      Basildon|
|     Dhanmondi|
|       Astoria|
|        Echuca|
|Cahaba Heights|
|     Mickleton|
|        Peoria|
|        Martin|
|      Tel Aviv|
|        Chatou|
|      New York|
|     Eindhoven|
|  Shavano Park|
|         Eagle|
|     Riverside|
|   Julianstown|
|        Ottawa|
|     Hyderabad|
|        London|
|Salt Lake City|
+--------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col

In [23]:
from os import truncate
ps.select(col('city'),col('price'),col('product'),col('name'),col('state')).show(truncate=True)

+--------------+-----+--------+-----------------+--------------+
|          city|price| product|             name|         state|
+--------------+-----+--------+-----------------+--------------+
|      Basildon| 1200|Product1|         carolina|       England|
|     Dhanmondi| 1200|Product1|            Shuvo|         Dhaka|
|       Astoria| 1200|Product1|Federica e Andrea|            OR|
|        Echuca| 1200|Product1|            Gouya|      Victoria|
|Cahaba Heights| 3600|Product2|           Gerd W|            AL|
|     Mickleton| 1200|Product1|         LAURENCE|            NJ|
|        Peoria| 1200|Product1|            Fleur|            IL|
|        Martin| 1200|Product1|             adam|            TN|
|      Tel Aviv| 1200|Product1|  Renee Elisabeth|      Tel Aviv|
|        Chatou| 1200|Product1|            Aidan| Ile-de-France|
|      New York| 1200|Product1|            Stacy|            NY|
|     Eindhoven| 1200|Product1|            Heidi| Noord-Brabant|
|  Shavano Park| 1200|Product1|             Sean|            TX|
|         Eagle| 1200|Product1|          Georgia|            ID|
|     Riverside| 1200|Product1|          Richard|            NJ|
|   Julianstown| 1200|Product1|           Leanne|         Meath|
|        Ottawa| 1200|Product1|            Janet|       Ontario|
|     Hyderabad| 1200|Product1|          barbara|Andhra Pradesh|
|        London| 3600|Product2|           Sabine|       England|
|Salt Lake City| 1200|Product1|             Hani|            UT|
+--------------+-----+--------+-----------------+--------------+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import lit

In [25]:
ps = ps.withColumn('first_name',lit('aman_ullah'))

In [26]:
ps.show()

+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
|Transaction_date| Product|Price|Payment_Type|             Name|          City|         State|       Country|Account_Created|    Last_Login|   Latitude| Longitude|first_name|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
|   01-02-09 6:17|Product1| 1200|  Mastercard|         carolina|      Basildon|       England|United Kingdom|  01-02-09 6:00| 01-02-09 6:08|       51.5|-1.1166667|aman_ullah|
|   01-02-09 4:53|Product1| 1200|       Bkash|            Shuvo|     Dhanmondi|         Dhaka|    Bangladesh|  01-02-09 4:42| 01-02-09 7:49|     39.195| -94.68194|aman_ullah|
|  01-02-09 13:08|Product1| 1200|  Mastercard|Federica e Andrea|       Astoria|            OR| United States| 01-01-09 16:21|01-03-09 12:32|   46.18806|   -123.83|aman_ullah|
|  01-03-09 14:44|Product1| 1200|        Visa|            Gouya|        Echuca|      Victoria|     Australia|  9/25/05 21:13|01-03-09 14:22|-36.1333333|    144.75|aman_ullah|
|  01-04-09 12:56|Product2| 3600|        Visa|           Gerd W|Cahaba Heights|            AL| United States| 11/15/08 15:47|01-04-09 12:45|   33.52056|  -86.8025|aman_ullah|
|  01-04-09 13:19|Product1| 1200|        Visa|         LAURENCE|     Mickleton|            NJ| United States|  9/24/08 15:19|01-04-09 13:04|      39.79| -75.23806|aman_ullah|
|  01-04-09 20:11|Product1| 1200|  Mastercard|            Fleur|        Peoria|            IL| United States|  01-03-09 9:38|01-04-09 19:45|   40.69361| -89.58889|aman_ullah|
|  01-02-09 20:09|Product1| 1200|  Mastercard|             adam|        Martin|            TN| United States| 01-02-09 17:43|01-04-09 20:01|   36.34333| -88.85028|aman_ullah|
|  01-04-09 13:17|Product1| 1200|  Mastercard|  Renee Elisabeth|      Tel Aviv|      Tel Aviv|        Israel| 01-04-09 13:03|01-04-09 22:10| 32.0666667|34.7666667|aman_ullah|
|  01-04-09 14:11|Product1| 1200|        Visa|            Aidan|        Chatou| Ile-de-France|        France|  06-03-08 4:22| 01-05-09 1:17| 48.8833333|      2.15|aman_ullah|
|   01-05-09 2:42|Product1| 1200|      Diners|            Stacy|      New York|            NY| United States|  01-05-09 2:23| 01-05-09 4:59|   40.71417| -74.00639|aman_ullah|
|   01-05-09 5:39|Product1| 1200|        Amex|            Heidi|     Eindhoven| Noord-Brabant|   Netherlands|  01-05-09 4:55| 01-05-09 8:15|      51.45| 5.4666667|aman_ullah|
|   01-02-09 9:16|Product1| 1200|  Mastercard|             Sean|  Shavano Park|            TX| United States|  01-02-09 8:32| 01-05-09 9:05|   29.42389| -98.49333|aman_ullah|
|  01-05-09 10:08|Product1| 1200|        Visa|          Georgia|         Eagle|            ID| United States| 11-11-08 15:53|01-05-09 10:05|   43.69556|-116.35306|aman_ullah|
|  01-02-09 14:18|Product1| 1200|        Visa|          Richard|     Riverside|            NJ| United States| 12-09-08 12:07|01-05-09 11:01|   40.03222| -74.95778|aman_ullah|
|   01-04-09 1:05|Product1| 1200|      Diners|           Leanne|   Julianstown|         Meath|       Ireland|  01-04-09 0:00|01-05-09 13:36| 53.6772222|-6.3191667|aman_ullah|
|  01-05-09 11:37|Product1| 1200|        Visa|            Janet|        Ottawa|       Ontario|        Canada|  01-05-09 9:35|01-05-09 19:24| 45.4166667|     -75.7|aman_ullah|
|   01-06-09 5:02|Product1| 1200|      Diners|          barbara|     Hyderabad|Andhra Pradesh|         India|  01-06-09 2:41| 01-06-09 7:52| 17.3833333|78.4666667|aman_ullah|
|   01-06-09 7:45|Product2| 3600|        Visa|           Sabine|        London|       England|United Kingdom|  01-06-09 7:00| 01-06-09 9:17|   51.52721|   0.14559|aman_ullah|
|   01-02-09 7:35|Product1| 1200|      Diners|             Hani|Salt Lake City|            UT| United States|  12/30/08 5:44|01-06-09 10:52|   40.76083|-111.89028|aman_ullah|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import concat

In [36]:
ps = ps.withColumn('second_colm',concat(col('first_name'),lit(' '),col('city')))

In [37]:
ps.select(ps.second_colm).show(truncate=True)

+--------------------+
|         second_colm|
+--------------------+
| aman_ullah Basildon|
|aman_ullah Dhanmondi|
|  aman_ullah Astoria|
|   aman_ullah Echuca|
|aman_ullah Cahaba...|
|aman_ullah Mickleton|
|   aman_ullah Peoria|
|   aman_ullah Martin|
| aman_ullah Tel Aviv|
|   aman_ullah Chatou|
| aman_ullah New York|
|aman_ullah Eindhoven|
|aman_ullah Shavan...|
|    aman_ullah Eagle|
|aman_ullah Riverside|
|aman_ullah Julian...|
|   aman_ullah Ottawa|
|aman_ullah Hyderabad|
|   aman_ullah London|
|aman_ullah Salt L...|
+--------------------+
only showing top 20 rows

## **Rename Columns**

In [42]:
ps=ps.withColumnRenamed('second_colm','city_name')

In [43]:
ps.show()

+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+--------------------+
|Transaction_date| Product|Price|Payment_Type|             Name|          City|         State|       Country|Account_Created|    Last_Login|   Latitude| Longitude|first_name|           city_name|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+--------------------+
|   01-02-09 6:17|Product1| 1200|  Mastercard|         carolina|      Basildon|       England|United Kingdom|  01-02-09 6:00| 01-02-09 6:08|       51.5|-1.1166667|aman_ullah| aman_ullah Basildon|
|   01-02-09 4:53|Product1| 1200|       Bkash|            Shuvo|     Dhanmondi|         Dhaka|    Bangladesh|  01-02-09 4:42| 01-02-09 7:49|     39.195| -94.68194|aman_ullah|aman_ullah Dhanmondi|
|  01-02-09 13:08|Product1| 1200|  Mastercard|Federica e Andrea|       Astoria|            OR| United States| 01-01-09 16:21|01-03-09 12:32|   46.18806|   -123.83|aman_ullah|  aman_ullah Astoria|
|  01-03-09 14:44|Product1| 1200|        Visa|            Gouya|        Echuca|      Victoria|     Australia|  9/25/05 21:13|01-03-09 14:22|-36.1333333|    144.75|aman_ullah|   aman_ullah Echuca|
|  01-04-09 12:56|Product2| 3600|        Visa|           Gerd W|Cahaba Heights|            AL| United States| 11/15/08 15:47|01-04-09 12:45|   33.52056|  -86.8025|aman_ullah|aman_ullah Cahaba...|
|  01-04-09 13:19|Product1| 1200|        Visa|         LAURENCE|     Mickleton|            NJ| United States|  9/24/08 15:19|01-04-09 13:04|      39.79| -75.23806|aman_ullah|aman_ullah Mickleton|
|  01-04-09 20:11|Product1| 1200|  Mastercard|            Fleur|        Peoria|            IL| United States|  01-03-09 9:38|01-04-09 19:45|   40.69361| -89.58889|aman_ullah|   aman_ullah Peoria|
|  01-02-09 20:09|Product1| 1200|  Mastercard|             adam|        Martin|            TN| United States| 01-02-09 17:43|01-04-09 20:01|   36.34333| -88.85028|aman_ullah|   aman_ullah Martin|
|  01-04-09 13:17|Product1| 1200|  Mastercard|  Renee Elisabeth|      Tel Aviv|      Tel Aviv|        Israel| 01-04-09 13:03|01-04-09 22:10| 32.0666667|34.7666667|aman_ullah| aman_ullah Tel Aviv|
|  01-04-09 14:11|Product1| 1200|        Visa|            Aidan|        Chatou| Ile-de-France|        France|  06-03-08 4:22| 01-05-09 1:17| 48.8833333|      2.15|aman_ullah|   aman_ullah Chatou|
|   01-05-09 2:42|Product1| 1200|      Diners|            Stacy|      New York|            NY| United States|  01-05-09 2:23| 01-05-09 4:59|   40.71417| -74.00639|aman_ullah| aman_ullah New York|
|   01-05-09 5:39|Product1| 1200|        Amex|            Heidi|     Eindhoven| Noord-Brabant|   Netherlands|  01-05-09 4:55| 01-05-09 8:15|      51.45| 5.4666667|aman_ullah|aman_ullah Eindhoven|
|   01-02-09 9:16|Product1| 1200|  Mastercard|             Sean|  Shavano Park|            TX| United States|  01-02-09 8:32| 01-05-09 9:05|   29.42389| -98.49333|aman_ullah|aman_ullah Shavan...|
|  01-05-09 10:08|Product1| 1200|        Visa|          Georgia|         Eagle|            ID| United States| 11-11-08 15:53|01-05-09 10:05|   43.69556|-116.35306|aman_ullah|    aman_ullah Eagle|
|  01-02-09 14:18|Product1| 1200|        Visa|          Richard|     Riverside|            NJ| United States| 12-09-08 12:07|01-05-09 11:01|   40.03222| -74.95778|aman_ullah|aman_ullah Riverside|
|   01-04-09 1:05|Product1| 1200|      Diners|           Leanne|   Julianstown|         Meath|       Ireland|  01-04-09 0:00|01-05-09 13:36| 53.6772222|-6.3191667|aman_ullah|aman_ullah Julian...|
|  01-05-09 11:37|Product1| 1200|        Visa|            Janet|        Ottawa|       Ontario|        Canada|  01-05-09 9:35|01-05-09 19:24| 45.4166667|     -75.7|aman_ullah|   aman_ullah Ottawa|
|   01-06-09 5:02|Product1| 1200|      Diners|          barbara|     Hyderabad|Andhra Pradesh|         India|  01-06-09 2:41| 01-06-09 7:52| 17.3833333|78.4666667|aman_ullah|aman_ullah Hyderabad|
|   01-06-09 7:45|Product2| 3600|        Visa|           Sabine|        London|       England|United Kingdom|  01-06-09 7:00| 01-06-09 9:17|   51.52721|   0.14559|aman_ullah|   aman_ullah London|
|   01-02-09 7:35|Product1| 1200|      Diners|             Hani|Salt Lake City|            UT| United States|  12/30/08 5:44|01-06-09 10:52|   40.76083|-111.89028|aman_ullah|aman_ullah Salt L...|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+--------------------+
only showing top 20 rows

In [46]:
ps.groupBy('country').count().show()

+-------------+-----+
|      country|count|
+-------------+-----+
|       Russia|    1|
|       Sweden|   13|
|       Jersey|    1|
|  Philippines|    2|
|     Malaysia|    1|
|       Turkey|    6|
|      Germany|   25|
|       France|   27|
|       Greece|    1|
|    Argentina|    1|
|      Belgium|    8|
|      Finland|    2|
|United States|  462|
|        India|    2|
|        China|    1|
|       Kuwait|    1|
|        Malta|    2|
|        Italy|   15|
|       Norway|   16|
|        Spain|   12|
+-------------+-----+
only showing top 20 rows

In [47]:
ps = ps.drop('city_name')

In [48]:
ps.show()

+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
|Transaction_date| Product|Price|Payment_Type|             Name|          City|         State|       Country|Account_Created|    Last_Login|   Latitude| Longitude|first_name|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
|   01-02-09 6:17|Product1| 1200|  Mastercard|         carolina|      Basildon|       England|United Kingdom|  01-02-09 6:00| 01-02-09 6:08|       51.5|-1.1166667|aman_ullah|
|   01-02-09 4:53|Product1| 1200|       Bkash|            Shuvo|     Dhanmondi|         Dhaka|    Bangladesh|  01-02-09 4:42| 01-02-09 7:49|     39.195| -94.68194|aman_ullah|
|  01-02-09 13:08|Product1| 1200|  Mastercard|Federica e Andrea|       Astoria|            OR| United States| 01-01-09 16:21|01-03-09 12:32|   46.18806|   -123.83|aman_ullah|
|  01-03-09 14:44|Product1| 1200|        Visa|            Gouya|        Echuca|      Victoria|     Australia|  9/25/05 21:13|01-03-09 14:22|-36.1333333|    144.75|aman_ullah|
|  01-04-09 12:56|Product2| 3600|        Visa|           Gerd W|Cahaba Heights|            AL| United States| 11/15/08 15:47|01-04-09 12:45|   33.52056|  -86.8025|aman_ullah|
|  01-04-09 13:19|Product1| 1200|        Visa|         LAURENCE|     Mickleton|            NJ| United States|  9/24/08 15:19|01-04-09 13:04|      39.79| -75.23806|aman_ullah|
|  01-04-09 20:11|Product1| 1200|  Mastercard|            Fleur|        Peoria|            IL| United States|  01-03-09 9:38|01-04-09 19:45|   40.69361| -89.58889|aman_ullah|
|  01-02-09 20:09|Product1| 1200|  Mastercard|             adam|        Martin|            TN| United States| 01-02-09 17:43|01-04-09 20:01|   36.34333| -88.85028|aman_ullah|
|  01-04-09 13:17|Product1| 1200|  Mastercard|  Renee Elisabeth|      Tel Aviv|      Tel Aviv|        Israel| 01-04-09 13:03|01-04-09 22:10| 32.0666667|34.7666667|aman_ullah|
|  01-04-09 14:11|Product1| 1200|        Visa|            Aidan|        Chatou| Ile-de-France|        France|  06-03-08 4:22| 01-05-09 1:17| 48.8833333|      2.15|aman_ullah|
|   01-05-09 2:42|Product1| 1200|      Diners|            Stacy|      New York|            NY| United States|  01-05-09 2:23| 01-05-09 4:59|   40.71417| -74.00639|aman_ullah|
|   01-05-09 5:39|Product1| 1200|        Amex|            Heidi|     Eindhoven| Noord-Brabant|   Netherlands|  01-05-09 4:55| 01-05-09 8:15|      51.45| 5.4666667|aman_ullah|
|   01-02-09 9:16|Product1| 1200|  Mastercard|             Sean|  Shavano Park|            TX| United States|  01-02-09 8:32| 01-05-09 9:05|   29.42389| -98.49333|aman_ullah|
|  01-05-09 10:08|Product1| 1200|        Visa|          Georgia|         Eagle|            ID| United States| 11-11-08 15:53|01-05-09 10:05|   43.69556|-116.35306|aman_ullah|
|  01-02-09 14:18|Product1| 1200|        Visa|          Richard|     Riverside|            NJ| United States| 12-09-08 12:07|01-05-09 11:01|   40.03222| -74.95778|aman_ullah|
|   01-04-09 1:05|Product1| 1200|      Diners|           Leanne|   Julianstown|         Meath|       Ireland|  01-04-09 0:00|01-05-09 13:36| 53.6772222|-6.3191667|aman_ullah|
|  01-05-09 11:37|Product1| 1200|        Visa|            Janet|        Ottawa|       Ontario|        Canada|  01-05-09 9:35|01-05-09 19:24| 45.4166667|     -75.7|aman_ullah|
|   01-06-09 5:02|Product1| 1200|      Diners|          barbara|     Hyderabad|Andhra Pradesh|         India|  01-06-09 2:41| 01-06-09 7:52| 17.3833333|78.4666667|aman_ullah|
|   01-06-09 7:45|Product2| 3600|        Visa|           Sabine|        London|       England|United Kingdom|  01-06-09 7:00| 01-06-09 9:17|   51.52721|   0.14559|aman_ullah|
|   01-02-09 7:35|Product1| 1200|      Diners|             Hani|Salt Lake City|            UT| United States|  12/30/08 5:44|01-06-09 10:52|   40.76083|-111.89028|aman_ullah|
+----------------+--------+-----+------------+-----------------+--------------+--------------+--------------+---------------+--------------+-----------+----------+----------+
only showing top 20 rows

In [50]:
total_count= ps.count()
print('total_cunt : ' + str(total_count))

total_cunt : 998

In [62]:
germany = ps.filter(col('Country')=='Turkey').count()

In [63]:
print('total_count  ' + str(germany))

total_count  6

In [64]:
ps.filter(col('Country')=='Turkey').show()

+----------------+--------+-----+------------+--------+-----------+--------+-------+---------------+-------------+----------+----------+----------+
|Transaction_date| Product|Price|Payment_Type|    Name|       City|   State|Country|Account_Created|   Last_Login|  Latitude| Longitude|first_name|
+----------------+--------+-----+------------+--------+-----------+--------+-------+---------------+-------------+----------+----------+----------+
|   01-02-09 0:50|Product1| 1200|        Visa|     Sam|  Tesvikiye|Istanbul| Turkey|  01-02-09 0:10| 1/17/09 1:57|40.6166667|29.0666667|aman_ullah|
|   01-03-09 9:54|Product1| 1200|        Visa|  Sylvia|Zekeriyakoy|Istanbul| Turkey| 12/29/08 10:38| 1/19/09 7:37|41.1980556|29.0302778|aman_ullah|
|  01-08-09 23:00|Product1| 1200|        Visa| Dickson|Kemerburgaz|Istanbul| Turkey|   9/16/08 2:07| 2/17/09 1:29|41.1594444|28.9127778|aman_ullah|
|    1/22/09 2:16|Product1| 1200|        Visa|Costanza|     Beykoz|Istanbul| Turkey| 09-07-08 11:43| 2/18/09 0:27|41.1438889|29.0905556|aman_ullah|
|   1/21/09 12:38|Product1| 1200|        Visa|    Novy|   Istanbul|Istanbul| Turkey| 02-05-07 12:43|2/21/09 13:55|41.0186111|28.9647222|aman_ullah|
|  01-07-09 13:19|Product1| 1200|        Visa|  Darian|      Izmir|   Izmir| Turkey|   8/26/08 7:33| 2/28/09 9:54|38.4072222|27.1502778|aman_ullah|
+----------------+--------+-----+------------+--------+-----------+--------+-------+---------------+-------------+----------+----------+----------+

In [60]:
ps.select(col('State')).show()

+--------------+
|         State|
+--------------+
|       England|
|         Dhaka|
|            OR|
|      Victoria|
|            AL|
|            NJ|
|            IL|
|            TN|
|      Tel Aviv|
| Ile-de-France|
|            NY|
| Noord-Brabant|
|            TX|
|            ID|
|            NJ|
|         Meath|
|       Ontario|
|Andhra Pradesh|
|       England|
|            UT|
+--------------+
only showing top 20 rows

In [65]:
ps.orderBy('country').show()

+----------------+--------+-----+------------+---------+---------------+-----------------+---------+---------------+--------------+-----------+-----------+----------+
|Transaction_date| Product|Price|Payment_Type|     Name|           City|            State|  Country|Account_Created|    Last_Login|   Latitude|  Longitude|first_name|
+----------------+--------+-----+------------+---------+---------------+-----------------+---------+---------------+--------------+-----------+-----------+----------+
|    1/25/09 5:57|Product1| 1200|        Amex|   pamela|       Ayacucho|     Buenos Aires|Argentina|   1/24/09 9:29| 02-10-09 6:38|     -37.15|-58.4833333|aman_ullah|
|  01-12-09 23:35|Product1| 1200|        Visa|     Lisa|          Perth|Western Australia|Australia| 05-08-06 23:41| 02-12-09 3:46|-31.9333333|115.8333333|aman_ullah|
|    1/18/09 3:46|Product1| 1200|        Visa|   Marina|         Nerang|       Queensland|Australia|   1/18/09 0:54| 1/27/09 23:52|-27.9833333|153.3333333|aman_ullah|
|  01-07-09 10:03|Product1| 1200|  Mastercard|     Emma|         Sydney|  New South Wales|Australia|  12-01-08 6:09| 1/27/09 20:18|-33.8833333|151.2166667|aman_ullah|
|   01-01-09 8:09|Product1| 1200|  Mastercard|   Nicole|South Melbourne|         Victoria|Australia|  12/30/08 0:55|  1/31/09 5:40|-37.8333333|144.9666667|aman_ullah|
|   01-06-09 1:20|Product1| 1200|  Mastercard|    Frank|      Melbourne|         Victoria|Australia| 01-02-09 17:51|01-10-09 18:27|-37.8166667|144.9666667|aman_ullah|
|   01-11-09 2:04|Product1| 1200|        Visa|    chris|     Gold Coast|       Queensland|Australia|  01-11-09 0:33| 01-11-09 2:11|      -28.0|153.4333333|aman_ullah|
|    1/24/09 3:25|Product1| 1200|        Visa| Michelle|        Lyndoch|  South Australia|Australia|  9/26/08 19:23|02-11-09 15:05|-34.6166667|138.8833333|aman_ullah|
|   1/31/09 23:09|Product1| 1200|      Diners|     Dawn|       Vaucluse|  New South Wales|Australia|  9/13/04 22:55| 02-11-09 3:09|-33.8666667|151.2833333|aman_ullah|
|   1/30/09 17:33|Product1| 1200|        Visa|     nina|        Warwick|       Queensland|Australia|  1/25/09 22:36| 02-02-09 6:13|-28.2333333|152.0166667|aman_ullah|
|   01-04-09 1:38|Product1| 1200|        Amex|   jeremy|    Charlestown|  New South Wales|Australia|  7/15/08 21:04|  1/20/09 1:08|     -32.95|151.6666667|aman_ullah|
|  01-04-09 16:59|Product1| 1200|        Visa|      Amy|     Parramatta|  New South Wales|Australia| 01-03-09 22:35|02-05-09 22:44|-33.8166667|      151.0|aman_ullah|
|  01-09-09 14:51|Product1| 1200|        Visa|      Bob|         Sydney|  New South Wales|Australia| 01-07-09 18:15|  1/21/09 0:29|-33.8833333|151.2166667|aman_ullah|
|  01-02-09 22:44|Product2| 3600|        Visa|      eva|       Gisborne|         Victoria|Australia| 12-03-06 15:36|02-06-09 20:03|-37.4833333|144.5833333|aman_ullah|
|   01-02-09 2:28|Product1| 1200|  Mastercard|   Morgan|        Coomera|       Queensland|Australia|  05-03-08 4:14| 1/21/09 16:37|-27.8833333|      153.3|aman_ullah|
|   1/26/09 20:18|Product1| 1200|  Mastercard|     John|       Griffith|  New South Wales|Australia|  1/15/07 20:37|02-07-09 18:04|-34.2833333|146.0333333|aman_ullah|
|  01-03-09 14:44|Product1| 1200|        Visa|    Gouya|         Echuca|         Victoria|Australia|  9/25/05 21:13|01-03-09 14:22|-36.1333333|     144.75|aman_ullah|
|  01-08-09 23:40|Product1| 1200|        Visa|    Jacob|      Lindfield|  New South Wales|Australia| 01-08-09 17:52|02-09-09 18:31|-33.7833333|151.1666667|aman_ullah|
|   01-12-09 1:37|Product1| 1200|        Visa|     IMAN|       Brisbane|       Queensland|Australia|  01-12-09 1:26| 1/15/09 17:54|      -27.5|153.0166667|aman_ullah|
|   1/24/09 18:30|Product1| 1200|        Visa|Ruangrote|      Melbourne|         Victoria|Australia|   7/17/08 5:19| 02-10-09 2:12|-37.8166667|144.9666667|aman_ullah|
+----------------+--------+-----+------------+---------+---------------+-----------------+---------+---------------+--------------+-----------+-----------+----------+
only showing top 20 rows

In [66]:
ps.groupBy('Country').count().orderBy('count',ascending = False).show()

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|       United States|  462|
|      United Kingdom|  100|
|              Canada|   76|
|             Ireland|   49|
|           Australia|   38|
|         Switzerland|   36|
|              France|   27|
|             Germany|   25|
|         Netherlands|   22|
|              Norway|   16|
|               Italy|   15|
|             Denmark|   15|
|              Sweden|   13|
|               Spain|   12|
|             Belgium|    8|
|             Austria|    7|
|              Turkey|    6|
|United Arab Emirates|    6|
|         New Zealand|    6|
|              Brazil|    5|
+--------------------+-----+
only showing top 20 rows

# **Union,Unionall,UnionbyName**

In [67]:
uk_country= ps.filter(col('country')=='United Kingdom')
canada_country= ps.filter(col('country')=='Canada')

In [69]:
canada_country.show(6)

+----------------+--------+-----+------------+-------+--------------------+----------------+-------+---------------+--------------+----------+------------+----------+
|Transaction_date| Product|Price|Payment_Type|   Name|                City|           State|Country|Account_Created|    Last_Login|  Latitude|   Longitude|first_name|
+----------------+--------+-----+------------+-------+--------------------+----------------+-------+---------------+--------------+----------+------------+----------+
|  01-05-09 11:37|Product1| 1200|        Visa|  Janet|              Ottawa|         Ontario| Canada|  01-05-09 9:35|01-05-09 19:24|45.4166667|       -75.7|aman_ullah|
|  01-10-09 21:38|Product1| 1200|        Visa|Anushka|Maple Ridge Distr...|British Columbia| Canada| 01-10-09 21:17|01-11-09 19:32|     49.25|      -122.5|aman_ullah|
|   01-04-09 8:39|Product2| 3600|      Diners|Baybars|       Prince Albert|    Saskatchewan| Canada| 01-03-09 17:17|01-11-09 21:05|      53.2|     -105.75|aman_ullah|
|  01-07-09 20:22|Product1| 1200|        Visa|   Gina|            Red Deer|         Alberta| Canada| 11/23/08 19:30|01-12-09 12:24|52.2666667|      -113.8|aman_ullah|
|  01-08-09 20:32|Product1| 1200|        Visa|    Kim|             Calgary|         Alberta| Canada| 01-08-09 20:21|01-12-09 14:07|51.0833333|-114.0833333|aman_ullah|
|  01-08-09 13:34|Product1| 1200|        Visa|  Bruce|          Belleville|         Ontario| Canada| 01-06-09 14:38|01-12-09 18:31|44.1666667| -77.3833333|aman_ullah|
+----------------+--------+-----+------------+-------+--------------------+----------------+-------+---------------+--------------+----------+------------+----------+
only showing top 6 rows

In [71]:
print(uk_country.unionByName(canada_country).count())

176

In [72]:
df1 = spark.createDataFrame([[1,2,3]],['c0','c1','c2'])
df2 = spark.createDataFrame([[5,9,3]],['c1','c2','c0'])

In [73]:
df1.unionByName(df2).show()

+---+---+---+
| c0| c1| c2|
+---+---+---+
|  1|  2|  3|
|  3|  5|  9|
+---+---+---+

In [74]:
from pyspark.sql import functions

In [75]:
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

# **Functions**

In [76]:
from pyspark.sql.functions import lower,upper,concat

In [81]:
ps.select(ps.Country,lower(ps.Country),upper(ps.Country),concat(ps.Name , lit(' '),ps.City).alias('Name_city')).show()

+--------------+--------------+--------------+--------------------+
|       Country|lower(Country)|upper(Country)|           Name_city|
+--------------+--------------+--------------+--------------------+
|United Kingdom|united kingdom|UNITED KINGDOM|   carolina Basildon|
|    Bangladesh|    bangladesh|    BANGLADESH|     Shuvo Dhanmondi|
| United States| united states| UNITED STATES|Federica e Andrea...|
|     Australia|     australia|     AUSTRALIA|        Gouya Echuca|
| United States| united states| UNITED STATES|Gerd W Cahaba Hei...|
| United States| united states| UNITED STATES|  LAURENCE Mickleton|
| United States| united states| UNITED STATES|        Fleur Peoria|
| United States| united states| UNITED STATES|         adam Martin|
|        Israel|        israel|        ISRAEL|Renee Elisabeth T...|
|        France|        france|        FRANCE|        Aidan Chatou|
| United States| united states| UNITED STATES|      Stacy New York|
|   Netherlands|   netherlands|   NETHERLANDS|     Heidi Eindhoven|
| United States| united states| UNITED STATES|   Sean Shavano Park|
| United States| united states| UNITED STATES|       Georgia Eagle|
| United States| united states| UNITED STATES|   Richard Riverside|
|       Ireland|       ireland|       IRELAND|  Leanne Julianstown|
|        Canada|        canada|        CANADA|        Janet Ottawa|
|         India|         india|         INDIA|   barbara Hyderabad|
|United Kingdom|united kingdom|UNITED KINGDOM|       Sabine London|
| United States| united states| UNITED STATES| Hani Salt Lake City|
+--------------+--------------+--------------+--------------------+
only showing top 20 rows

In [82]:
from pyspark.sql.functions import to_date,to_timestamp

In [83]:
df3= spark.createDataFrame([('2033-09-08 12:39:45',)],['Date'])

In [84]:
df3.show()

+-------------------+
|               Date|
+-------------------+
|2033-09-08 12:39:45|
+-------------------+

In [85]:
df3.printSchema()

root
 |-- Date: string (nullable = true)

In [87]:
df3.select(df3.Date,to_date(df3.Date),to_timestamp(df3.Date)).show()

+-------------------+-------------+-------------------+
|               Date|to_date(Date)| to_timestamp(Date)|
+-------------------+-------------+-------------------+
|2033-09-08 12:39:45|   2033-09-08|2033-09-08 12:39:45|
+-------------------+-------------+-------------------+

# **Join Operations**

In [88]:
car_name= spark.createDataFrame([[1,'A'],[2,'B'],[3,'C'],[4,'D'],[5,'E']],['id','Name'])
car_price=spark.createDataFrame([[1,1000],[2,3000],[3,2000],[4,4000],[5,3500]],['id','price'])

In [89]:
car_name.show()

+---+----+
| id|Name|
+---+----+
|  1|   A|
|  2|   B|
|  3|   C|
|  4|   D|
|  5|   E|
+---+----+

In [90]:
car_price.show()

+---+-----+
| id|price|
+---+-----+
|  1| 1000|
|  2| 3000|
|  3| 2000|
|  4| 4000|
|  5| 3500|
+---+-----+

In [93]:
car_name.join(car_price,car_name.id==car_price.id,'inner').select(car_name.id,car_name.Name,car_price.price).show()

+---+----+-----+
| id|Name|price|
+---+----+-----+
|  1|   A| 1000|
|  2|   B| 3000|
|  3|   C| 2000|
|  4|   D| 4000|
|  5|   E| 3500|
+---+----+-----+

In [95]:
 ps.createOrReplaceTempView("temp")
 spark.sql('select * from temp').show(5)

+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+----------+
|Transaction_date| Product|Price|Payment_Type|             Name|          City|   State|       Country|Account_Created|    Last_Login|   Latitude| Longitude|first_name|
+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+----------+
|   01-02-09 6:17|Product1| 1200|  Mastercard|         carolina|      Basildon| England|United Kingdom|  01-02-09 6:00| 01-02-09 6:08|       51.5|-1.1166667|aman_ullah|
|   01-02-09 4:53|Product1| 1200|       Bkash|            Shuvo|     Dhanmondi|   Dhaka|    Bangladesh|  01-02-09 4:42| 01-02-09 7:49|     39.195| -94.68194|aman_ullah|
|  01-02-09 13:08|Product1| 1200|  Mastercard|Federica e Andrea|       Astoria|      OR| United States| 01-01-09 16:21|01-03-09 12:32|   46.18806|   -123.83|aman_ullah|
|  01-03-09 14:44|Product1| 1200|        Visa|            Gouya|        Echuca|Victoria|     Australia|  9/25/05 21:13|01-03-09 14:22|-36.1333333|    144.75|aman_ullah|
|  01-04-09 12:56|Product2| 3600|        Visa|           Gerd W|Cahaba Heights|      AL| United States| 11/15/08 15:47|01-04-09 12:45|   33.52056|  -86.8025|aman_ullah|
+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+----------+
only showing top 5 rows

In [98]:
spark.sql("select city,Name,Price from temp where country=='Turkey'").show(6)

+-----------+--------+-----+
|       city|    Name|Price|
+-----------+--------+-----+
|  Tesvikiye|     Sam| 1200|
|Zekeriyakoy|  Sylvia| 1200|
|Kemerburgaz| Dickson| 1200|
|     Beykoz|Costanza| 1200|
|   Istanbul|    Novy| 1200|
|      Izmir|  Darian| 1200|
+-----------+--------+-----+

# **rdd**

In [100]:
ps.rdd.take(6)

[Row(Transaction_date='01-02-09 6:17', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='carolina', City='Basildon', State='England', Country='United Kingdom', Account_Created='01-02-09 6:00', Last_Login='01-02-09 6:08', Latitude=51.5, Longitude=-1.1166667, first_name='aman_ullah'),
 Row(Transaction_date='01-02-09 4:53', Product='Product1', Price='1200', Payment_Type='Bkash', Name='Shuvo', City='Dhanmondi', State='Dhaka', Country='Bangladesh', Account_Created='01-02-09 4:42', Last_Login='01-02-09 7:49', Latitude=39.195, Longitude=-94.68194, first_name='aman_ullah'),
 Row(Transaction_date='01-02-09 13:08', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='Federica e Andrea', City='Astoria', State='OR', Country='United States', Account_Created='01-01-09 16:21', Last_Login='01-03-09 12:32', Latitude=46.18806, Longitude=-123.83, first_name='aman_ullah'),
 Row(Transaction_date='01-03-09 14:44', Product='Product1', Price='1200', Payment_Type='Visa', Name='Gouya', City='Echuca', State='Victoria', Country='Australia', Account_Created='9/25/05 21:13', Last_Login='01-03-09 14:22', Latitude=-36.1333333, Longitude=144.75, first_name='aman_ullah'),
 Row(Transaction_date='01-04-09 12:56', Product='Product2', Price='3600', Payment_Type='Visa', Name='Gerd W', City='Cahaba Heights', State='AL', Country='United States', Account_Created='11/15/08 15:47', Last_Login='01-04-09 12:45', Latitude=33.52056, Longitude=-86.8025, first_name='aman_ullah'),
 Row(Transaction_date='01-04-09 13:19', Product='Product1', Price='1200', Payment_Type='Visa', Name='LAURENCE', City='Mickleton', State='NJ', Country='United States', Account_Created='9/24/08 15:19', Last_Login='01-04-09 13:04', Latitude=39.79, Longitude=-75.23806, first_name='aman_ullah')]

In [102]:
ps.take(6)

[Row(Transaction_date='01-02-09 6:17', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='carolina', City='Basildon', State='England', Country='United Kingdom', Account_Created='01-02-09 6:00', Last_Login='01-02-09 6:08', Latitude=51.5, Longitude=-1.1166667, first_name='aman_ullah'),
 Row(Transaction_date='01-02-09 4:53', Product='Product1', Price='1200', Payment_Type='Bkash', Name='Shuvo', City='Dhanmondi', State='Dhaka', Country='Bangladesh', Account_Created='01-02-09 4:42', Last_Login='01-02-09 7:49', Latitude=39.195, Longitude=-94.68194, first_name='aman_ullah'),
 Row(Transaction_date='01-02-09 13:08', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='Federica e Andrea', City='Astoria', State='OR', Country='United States', Account_Created='01-01-09 16:21', Last_Login='01-03-09 12:32', Latitude=46.18806, Longitude=-123.83, first_name='aman_ullah'),
 Row(Transaction_date='01-03-09 14:44', Product='Product1', Price='1200', Payment_Type='Visa', Name='Gouya', City='Echuca', State='Victoria', Country='Australia', Account_Created='9/25/05 21:13', Last_Login='01-03-09 14:22', Latitude=-36.1333333, Longitude=144.75, first_name='aman_ullah'),
 Row(Transaction_date='01-04-09 12:56', Product='Product2', Price='3600', Payment_Type='Visa', Name='Gerd W', City='Cahaba Heights', State='AL', Country='United States', Account_Created='11/15/08 15:47', Last_Login='01-04-09 12:45', Latitude=33.52056, Longitude=-86.8025, first_name='aman_ullah'),
 Row(Transaction_date='01-04-09 13:19', Product='Product1', Price='1200', Payment_Type='Visa', Name='LAURENCE', City='Mickleton', State='NJ', Country='United States', Account_Created='9/24/08 15:19', Last_Login='01-04-09 13:04', Latitude=39.79, Longitude=-75.23806, first_name='aman_ullah')]

In [104]:
rdd=ps.rdd.map(lambda x: [x[0],x[1]])

In [105]:
rdd.take(8)

[['01-02-09 6:17', 'Product1'],
 ['01-02-09 4:53', 'Product1'],
 ['01-02-09 13:08', 'Product1'],
 ['01-03-09 14:44', 'Product1'],
 ['01-04-09 12:56', 'Product2'],
 ['01-04-09 13:19', 'Product1'],
 ['01-04-09 20:11', 'Product1'],
 ['01-02-09 20:09', 'Product1']]

In [11]:
ps.show(5,truncate=False)

+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+
|Transaction_date|Product |Price|Payment_Type|Name             |City          |State   |Country       |Account_Created|Last_Login    |Latitude   |Longitude |
+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+
|01-02-09 6:17   |Product1|1200 |Mastercard  |carolina         |Basildon      |England |United Kingdom|01-02-09 6:00  |01-02-09 6:08 |51.5       |-1.1166667|
|01-02-09 4:53   |Product1|1200 |Bkash       |Shuvo            |Dhanmondi     |Dhaka   |Bangladesh    |01-02-09 4:42  |01-02-09 7:49 |39.195     |-94.68194 |
|01-02-09 13:08  |Product1|1200 |Mastercard  |Federica e Andrea|Astoria       |OR      |United States |01-01-09 16:21 |01-03-09 12:32|46.18806   |-123.83   |
|01-03-09 14:44  |Product1|1200 |Visa        |Gouya            |Echuca        |Victoria|Australia     |9/25/05 21:13  |01-03-09 14:22|-36.1333333|144.75    |
|01-04-09 12:56  |Product2|3600 |Visa        |Gerd W           |Cahaba Heights|AL      |United States |11/15/08 15:47 |01-04-09 12:45|33.52056   |-86.8025  |
+----------------+--------+-----+------------+-----------------+--------------+--------+--------------+---------------+--------------+-----------+----------+
only showing top 5 rows

In [ ]:
rdd_data= ps.rdd

In [ ]:
rdd_data.take(5)

[Row(Transaction_date='01-02-09 6:17', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='carolina', City='Basildon', State='England', Country='United Kingdom', Account_Created='01-02-09 6:00', Last_Login='01-02-09 6:08', Latitude='51.5', Longitude='-1.1166667'),
 Row(Transaction_date='01-02-09 4:53', Product='Product1', Price='1200', Payment_Type='Bkash', Name='Shuvo', City='Dhanmondi', State='Dhaka', Country='Bangladesh', Account_Created='01-02-09 4:42', Last_Login='01-02-09 7:49', Latitude='39.195', Longitude='-94.68194'),
 Row(Transaction_date='01-02-09 13:08', Product='Product1', Price='1200', Payment_Type='Mastercard', Name='Federica e Andrea', City='Astoria', State='OR', Country='United States', Account_Created='01-01-09 16:21', Last_Login='01-03-09 12:32', Latitude='46.18806', Longitude='-123.83'),
 Row(Transaction_date='01-03-09 14:44', Product='Product1', Price='1200', Payment_Type='Visa', Name='Gouya', City='Echuca', State='Victoria', Country='Australia', Account_Created='9/25/05 21:13', Last_Login='01-03-09 14:22', Latitude='-36.1333333', Longitude='144.75'),
 Row(Transaction_date='01-04-09 12:56', Product='Product2', Price='3600', Payment_Type='Visa', Name='Gerd W', City='Cahaba Heights', State='AL', Country='United States', Account_Created='11/15/08 15:47', Last_Login='01-04-09 12:45', Latitude='33.52056', Longitude='-86.8025')]

In [ ]:
cleaned_rdd= rdd_data.map(lambda line:[line[1],line[2],line[3]])

In [ ]:
cleaned_rdd.take(5)

[['Product1', '1200', 'Mastercard'],
 ['Product1', '1200', 'Bkash'],
 ['Product1', '1200', 'Mastercard'],
 ['Product1', '1200', 'Visa'],
 ['Product2', '3600', 'Visa']]

In [ ]:
rdd_data.map(lambda x :[x[1]]).count()

998

In [ ]:
flat_map=ps.rdd.flatMap(lambda x :x.split(','))

In [ ]:
tf=spark.read.text('/content/aiquest_sales_data_bde_batch - aiquest_sales_data_bde_batch.csv')

In [ ]:
tf.show(5)

+--------------------+
|               value|
+--------------------+
|Transaction_date,...|
|01-02-09 6:17,Pro...|
|01-02-09 4:53,Pro...|
|01-02-09 13:08,Pr...|
|01-03-09 14:44,Pr...|
+--------------------+
only showing top 5 rows

In [ ]:
header=tf.first()

In [ ]:
ps_body=tf.rdd.filter(lambda bd:bd!=header)

In [ ]:
ps_body.take(5)

[Row(value='01-02-09 6:17,Product1,1200,Mastercard,carolina,Basildon,England,United Kingdom,01-02-09 6:00,01-02-09 6:08,51.5,-1.1166667'),
 Row(value='01-02-09 4:53,Product1,1200,Bkash,Shuvo,Dhanmondi,Dhaka,Bangladesh,01-02-09 4:42,01-02-09 7:49,39.195,-94.68194'),
 Row(value='01-02-09 13:08,Product1,1200,Mastercard,Federica e Andrea,Astoria,OR,United States,01-01-09 16:21,01-03-09 12:32,46.18806,-123.83'),
 Row(value='01-03-09 14:44,Product1,1200,Visa,Gouya,Echuca,Victoria,Australia,9/25/05 21:13,01-03-09 14:22,-36.1333333,144.75'),
 Row(value='01-04-09 12:56,Product2,3600,Visa,Gerd W,Cahaba Heights,AL,United States,11/15/08 15:47,01-04-09 12:45,33.52056,-86.8025')]