<a href="https://colab.research.google.com/github/amanullah20/rdd_project/blob/main/First_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=7b6acb389b9310cfa7c573a120591758c7cf166ea97aa03e9a1130b2aa8d4307
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
## Read the dataset
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/text.csv',inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    krish| 24|        10|
|Sudhanshu| 31|         8|
|Sudhanshu| 30|         4|
|    Sunny| 29|         5|
+---------+---+----------+

In [ ]:
## Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Pyspark/text.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
df_pyspark.head(3)

[Row(Name='krish', Age=24, Experience=10),
 Row(Name='Sudhanshu', Age=31, Experience=8),
 Row(Name='Sudhanshu', Age=30, Experience=4)]

In [ ]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    krish|
|Sudhanshu|
|Sudhanshu|
|    Sunny|
+---------+

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    krish|        10|
|Sudhanshu|         8|
|Sudhanshu|         4|
|    Sunny|         5|
+---------+----------+

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
df_pyspark.describe().show()

+-------+---------+------------------+------------------+
|summary|     Name|               Age|        Experience|
+-------+---------+------------------+------------------+
|  count|        4|                 4|                 4|
|   mean|     NULL|              28.5|              6.75|
| stddev|     NULL|3.1091263510296048|2.7537852736430506|
|    min|Sudhanshu|                24|                 4|
|    max|    krish|                31|                10|
+-------+---------+------------------+------------------+

In [ ]:
from os import replace
## Adding columns in data frame
df_pyspark=df_pyspark.withColumn('Experienc After 2 year',df_pyspark['Experience']+10)

In [ ]:
df_pyspark.show()

+---------+---+----------+----------------------+
|     Name|Age|Experience|Experienc After 2 year|
+---------+---+----------+----------------------+
|    krish| 24|        10|                    20|
|Sudhanshu| 31|         8|                    18|
|Sudhanshu| 30|         4|                    14|
|    Sunny| 29|         5|                    15|
+---------+---+----------+----------------------+

In [ ]:
df_pyspark = df_pyspark.drop('Experienc After 2 year')

In [ ]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    krish| 24|        10|
|Sudhanshu| 31|         8|
|Sudhanshu| 30|         4|
|    Sunny| 29|         5|
+---------+---+----------+

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')

In [ ]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    krish| 24|        10|
|Sudhanshu| 31|         8|
|Sudhanshu| 30|         4|
|    Sunny| 29|         5|
+---------+---+----------+

In [ ]:
df_pyspark1 = spark.read.csv('/content/drive/MyDrive/Pyspark/text1.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark1.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    krish|  24|        10| 30000|
|Sudhanshu|  31|         8| 25000|
|Sudhanshu|  30|         4| 39000|
|    Sunny|  29|         5| 26900|
|     NULL|  21|      NULL| 35000|
|     NULL|  40|         5|  NULL|
|     Aman|NULL|      NULL| 40000|
|     Adiv|NULL|         4| 53000|
+---------+----+----------+------+

In [ ]:
df_pyspark1.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, Salary: string]

In [ ]:
df_pyspark1.describe().show()

+-------+-----+------------------+-----------------+------------------+
|summary| Name|               Age|       Experience|            Salary|
+-------+-----+------------------+-----------------+------------------+
|  count|    6|                 6|                6|                 7|
|   mean| NULL|29.166666666666668|              6.0|35557.142857142855|
| stddev| NULL| 6.554896388705672|2.449489742783178| 9604.140971972653|
|    min| Adiv|                21|                4|             25000|
|    max|krish|                40|               10|             53000|
+-------+-----+------------------+-----------------+------------------+

In [ ]:
df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 24|        10| 30000|
|Sudhanshu| 31|         8| 25000|
|Sudhanshu| 30|         4| 39000|
|    Sunny| 29|         5| 26900|
+---------+---+----------+------+

In [ ]:
df_pyspark1.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    krish|  24|        10| 30000|
|Sudhanshu|  31|         8| 25000|
|Sudhanshu|  30|         4| 39000|
|    Sunny|  29|         5| 26900|
|     NULL|  21|      NULL| 35000|
|     NULL|  40|         5|  NULL|
|     Aman|NULL|      NULL| 40000|
|     Adiv|NULL|         4| 53000|
+---------+----+----------+------+

In [ ]:
df_pyspark1.na.drop(subset=['Age','Experience']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 24|        10| 30000|
|Sudhanshu| 31|         8| 25000|
|Sudhanshu| 30|         4| 39000|
|    Sunny| 29|         5| 26900|
|     NULL| 40|         5|  NULL|
+---------+---+----------+------+

In [ ]:
df_pyspark1.na.drop(thresh=3).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    krish|  24|        10| 30000|
|Sudhanshu|  31|         8| 25000|
|Sudhanshu|  30|         4| 39000|
|    Sunny|  29|         5| 26900|
|     Adiv|NULL|         4| 53000|
+---------+----+----------+------+

In [ ]:
df_pyspark1.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         krish|  24|        10| 30000|
|     Sudhanshu|  31|         8| 25000|
|     Sudhanshu|  30|         4| 39000|
|         Sunny|  29|         5| 26900|
|Missing Values|  21|      NULL| 35000|
|Missing Values|  40|         5|  NULL|
|          Aman|NULL|      NULL| 40000|
|          Adiv|NULL|         4| 53000|
+--------------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_impute".format(c) for c in  ['Age','Experience','Salary']]
).setStrategy("mean")

In [ ]:
imputer.fit(df_pyspark1).transform(df_pyspark1).show()

+---------+----+----------+------+----------+-----------------+-------------+
|     Name| Age|Experience|Salary|Age_impute|Experience_impute|Salary_impute|
+---------+----+----------+------+----------+-----------------+-------------+
|    krish|  24|        10| 30000|        24|               10|        30000|
|Sudhanshu|  31|         8| 25000|        31|                8|        25000|
|Sudhanshu|  30|         4| 39000|        30|                4|        39000|
|    Sunny|  29|         5| 26900|        29|                5|        26900|
|     NULL|  21|      NULL| 35000|        21|                6|        35000|
|     NULL|  40|         5|  NULL|        40|                5|        35557|
|     Aman|NULL|      NULL| 40000|        29|                6|        40000|
|     Adiv|NULL|         4| 53000|        29|                4|        53000|
+---------+----+----------+------+----------+-----------------+-------------+

In [ ]:
df_pyspark2 = df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 24|        10| 30000|
|Sudhanshu| 31|         8| 25000|
|Sudhanshu| 30|         4| 39000|
|    Sunny| 29|         5| 26900|
+---------+---+----------+------+

In [ ]:
df_pyspark1.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    krish|  24|        10| 30000|
|Sudhanshu|  31|         8| 25000|
|Sudhanshu|  30|         4| 39000|
|    Sunny|  29|         5| 26900|
|     NULL|  21|      NULL| 35000|
|     NULL|  40|         5|  NULL|
|     Aman|NULL|      NULL| 40000|
|     Adiv|NULL|         4| 53000|
+---------+----+----------+------+

In [ ]:
df_pyspark1.filter('Salary>=40000').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|Aman|NULL|      NULL| 40000|
|Adiv|NULL|         4| 53000|
+----+----+----------+------+

In [ ]:
df_pyspark1.filter('Salary>=30000').select(['Name','Age']).show()

+---------+----+
|     Name| Age|
+---------+----+
|    krish|  24|
|Sudhanshu|  30|
|     NULL|  21|
|     Aman|NULL|
|     Adiv|NULL|
+---------+----+

In [ ]:
df_pyspark1.filter((df_pyspark1['Salary']>3000)&(df_pyspark1['Age']>30)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 31|         8| 25000|
+---------+---+----------+------+

In [ ]:
df_pyspark1.filter(~(df_pyspark1['Salary']<=25000)).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    krish|  24|        10| 30000|
|Sudhanshu|  30|         4| 39000|
|    Sunny|  29|         5| 26900|
|     NULL|  21|      NULL| 35000|
|     Aman|NULL|      NULL| 40000|
|     Adiv|NULL|         4| 53000|
+---------+----+----------+------+

In [ ]:
df_ps=spark.read.csv('/content/drive/MyDrive/Pyspark/text2.csv',header=True,inferSchema=True)

In [ ]:
df_ps.show()

+---------+----+----------+------+------------+
|     Name| Age|Experience|Salary|  Department|
+---------+----+----------+------+------------+
|    krish|  24|        10| 30000|Data Science|
|Sudhanshu|  31|         8| 25000|         IOT|
|Sudhanshu|  30|         4| 39000|    Big Data|
|    Sunny|  29|         5| 26900|    Big Data|
|    Sunny|  21|      NULL| 35000|Data Science|
|     Aman|  40|         5| 30000|Data Science|
|     Aman|NULL|      NULL| 40000|         IOT|
|     Adiv|NULL|         4| 53000|    Big Data|
|     NULL|NULL|      NULL| 10000|Data Science|
|     NULL|NULL|      NULL|  2000|    Big Data|
+---------+----+----------+------+------------+

In [ ]:
df_ps.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [ ]:
df_ps.groupBy('Department').sum('Salary').show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      65000|
|    Big Data|     120900|
|Data Science|     105000|
+------------+-----------+

In [ ]:
df_ps.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     290900|
+-----------+

In [ ]:
df_ps.groupBy('Department').mean().show()

+------------+------------------+-----------------+-----------+
|  Department|          avg(Age)|  avg(Experience)|avg(Salary)|
+------------+------------------+-----------------+-----------+
|         IOT|              31.0|              8.0|    32500.0|
|    Big Data|              29.5|4.333333333333333|    30225.0|
|Data Science|28.333333333333332|              7.5|    26250.0|
+------------+------------------+-----------------+-----------+

In [ ]:
df_ps.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+