<a href="https://colab.research.google.com/github/amanullah20/rdd_project/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=1c626c77f20652e4dcb00bee1cb4d90fdf4df36d444a36d1b3fe0d61b12eb46a
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
!wget http://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2024-01-07 13:12:24--  http://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.108.153|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2024-01-07 13:12:24--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0s

2024-01-07 13:12:24 (88.3 MB/s) - ‘cars.csv’ saved [22608/22608]

In [ ]:
ls

cars.csv  sample_data/

In [ ]:
df = spark.read.csv('cars.csv',header=True,inferSchema=True,sep=';')

In [ ]:
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
##creatin new columns
from pyspark.sql.functions import lit , concat , col

In [ ]:
df=df.withColumn('join_columns',concat(col('Car'),lit(' '),col('Model')))

In [ ]:
from os import truncate
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|join_columns                |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |Buick Skylark 320 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |Plymouth Satellite 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |AMC Rebel SST 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |Ford Torino 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
only showing top 5 rows

In [ ]:
df = df.withColumnRenamed('join_columns','car_model')

In [ ]:
df.show(8,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|car_model                   |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |Buick Skylark 320 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |Plymouth Satellite 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |AMC Rebel SST 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |Ford Torino 70              |
|Ford Galaxie 500         |15.0|8        |429.0       |198.0     |4341  |10.0        |70   |US    |Ford Galaxie 500 70         |
|Chevrolet Impala         |14.0|8        |454.0       |220.0     |4354  |9.0         |70   |US    |Chevrolet Impala 70         |
|Plymouth Fury iii        |14.0|8        |440.0       |215.0     |4312  |8.5         |70   |US    |Plymouth Fury iii 70        |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
only showing top 8 rows

In [ ]:
df1=df.groupBy('Origin').count()

In [ ]:
df1.show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [ ]:
df2=df.groupBy('Model').count()

In [ ]:
df2.show()

+-----+-----+
|Model|count|
+-----+-----+
|   78|   36|
|   81|   30|
|   76|   34|
|   72|   28|
|   77|   28|
|   82|   31|
|   80|   29|
|   73|   40|
|   70|   35|
|   75|   30|
|   71|   29|
|   79|   29|
|   74|   27|
+-----+-----+

In [ ]:
df3=df.groupBy('Origin','Model').count()

In [ ]:
df3.show()

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
|Europe|   71|    5|
|Europe|   80|    9|
|Europe|   79|    4|
| Japan|   75|    4|
|    US|   72|   18|
|    US|   80|    7|
|Europe|   74|    6|
| Japan|   79|    2|
|Europe|   76|    8|
|    US|   75|   20|
| Japan|   77|    6|
|    US|   82|   20|
| Japan|   80|   13|
| Japan|   78|    8|
|    US|   78|   22|
|Europe|   75|    6|
|    US|   71|   20|
|    US|   77|   18|
| Japan|   70|    2|
| Japan|   71|    4|
+------+-----+-----+
only showing top 20 rows

In [ ]:
filtering= df.filter(col('Origin')=='Europe').count()
print('Europe_count  ' + str(filtering))

Europe_count  73

In [ ]:
df.filter((col('Origin')=='Europe') & (col('Cylinders')==5)).show()

+-------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+
|                Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|           car_model|
+-------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+
|          Audi 5000|20.3|        5|       131.0|     103.0|  2830|        15.9|   78|Europe|        Audi 5000 78|
| Mercedes Benz 300d|25.4|        5|       183.0|      77.0|  3530|        20.1|   79|Europe|Mercedes Benz 300...|
|Audi 5000s (diesel)|36.4|        5|       121.0|      67.0|  2950|        19.9|   80|Europe|Audi 5000s (diese...|
+-------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+

In [ ]:
df.select('Cylinders').distinct().show()

+---------+
|Cylinders|
+---------+
|        6|
|        3|
|        5|
|        4|
|        8|
+---------+

In [ ]:
df.orderBy('Cylinders',ascending=False).show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|           car_model|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|Plymouth 'Cuda 34...|
| Pontiac Safari (sw)|13.0|        8|       400.0|     175.0|  5140|        12.0|   71|    US|Pontiac Safari (s...|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|Ford Mustang Boss...|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|Buick Skylark 320 70|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|Chevrolet Monte C...|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|    AMC Rebel SST 70|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|Buick Estate Wago...|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US| Ford Galaxie 500 70|
|           Ford F250|10.0|        8|       360.0|     215.0|  4615|        14.0|   70|    US|        Ford F250 70|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|Plymouth Fury iii 70|
|           Chevy C20|10.0|        8|       307.0|     200.0|  4376|        15.0|   70|    US|        Chevy C20 70|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|AMC Ambassador DP...|
|          Dodge D200|11.0|        8|       318.0|     210.0|  4382|        13.5|   70|    US|       Dodge D200 70|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US| Ford Torino (sw) 70|
|            Hi 1200D| 9.0|        8|       304.0|     193.0|  4732|        18.5|   70|    US|         Hi 1200D 70|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|AMC Rebel SST (sw...|
|    Chevrolet Impala|14.0|        8|       350.0|     165.0|  4209|        12.0|   71|    US| Chevrolet Impala 71|
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|Chevrolet Chevell...|
|Pontiac Catalina ...|14.0|        8|       400.0|     175.0|  4464|        11.5|   71|    US|Pontiac Catalina ...|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|      Ford Torino 70|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [ ]:
df.groupBy('Origin').count().orderBy('count').show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
| Japan|   79|
|    US|  254|
+------+-----+

In [ ]:
Eu_count=df.filter((col('Origin')=='Europe') & (col('Cylinders')==4))

In [ ]:
US_count = df.filter((col('Origin')=='US') & (col('Cylinders')==8))

In [ ]:
print(Eu_count.count())
print(US_count.count())
print(Eu_count.union(US_count).count())

66
108
174

In [ ]:
df.describe().show()

+-------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------+--------------------+
|summary|                 Car|               MPG|        Cylinders|      Displacement|       Horsepower|           Weight|      Acceleration|             Model|Origin|           car_model|
+-------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------+--------------------+
|  count|                 406|               406|              406|               406|              406|              406|               406|               406|   406|                 406|
|   mean|                NULL|23.051231527093602|5.475369458128079| 194.7795566502463|103.5295566502463|        2979.4138|15.519704433497521| 75.92118226600985|  NULL|                NULL|
| stddev|                NULL|   8.4017773522706|1.712159631548529|104.92245837948867|40.52065912106347|847.0043282393513|2.8033588163425462|3.7487373454558743|  NULL|                NULL|
|    min|AMC Ambassador Br...|               0.0|                3|              68.0|              0.0|             1613|               8.0|                70|Europe|AMC Ambassador Br...|
|    max|        Volvo Diesel|              46.6|                8|             455.0|            230.0|             5140|              24.8|                82|    US|     Volvo Diesel 81|
+-------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------+--------------------+

In [ ]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin',
 'car_model']

In [ ]:
from pyspark.sql import functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

In [ ]:
from pyspark.sql.functions import lower,upper,concat,substring , min, max

In [ ]:
df.select(df.Car,lower(df.Car),upper(df.Car),substring(df.Car,1,6)).show(7)

+--------------------+--------------------+--------------------+--------------------+
|                 Car|          lower(Car)|          upper(Car)|substring(Car, 1, 6)|
+--------------------+--------------------+--------------------+--------------------+
|Chevrolet Chevell...|chevrolet chevell...|CHEVROLET CHEVELL...|              Chevro|
|   Buick Skylark 320|   buick skylark 320|   BUICK SKYLARK 320|              Buick |
|  Plymouth Satellite|  plymouth satellite|  PLYMOUTH SATELLITE|              Plymou|
|       AMC Rebel SST|       amc rebel sst|       AMC REBEL SST|              AMC Re|
|         Ford Torino|         ford torino|         FORD TORINO|              Ford T|
|    Ford Galaxie 500|    ford galaxie 500|    FORD GALAXIE 500|              Ford G|
|    Chevrolet Impala|    chevrolet impala|    CHEVROLET IMPALA|              Chevro|
+--------------------+--------------------+--------------------+--------------------+
only showing top 7 rows

In [ ]:
df.select(df.Car,df.Model,concat(df.Car,lit(' '),df.Model).alias('Car_model')).show(8)

+--------------------+-----+--------------------+
|                 Car|Model|           Car_model|
+--------------------+-----+--------------------+
|Chevrolet Chevell...|   70|Chevrolet Chevell...|
|   Buick Skylark 320|   70|Buick Skylark 320 70|
|  Plymouth Satellite|   70|Plymouth Satellit...|
|       AMC Rebel SST|   70|    AMC Rebel SST 70|
|         Ford Torino|   70|      Ford Torino 70|
|    Ford Galaxie 500|   70| Ford Galaxie 500 70|
|    Chevrolet Impala|   70| Chevrolet Impala 70|
|   Plymouth Fury iii|   70|Plymouth Fury iii 70|
+--------------------+-----+--------------------+
only showing top 8 rows

In [ ]:
df.dtypes

[('Car', 'string'),
 ('MPG', 'double'),
 ('Cylinders', 'int'),
 ('Displacement', 'double'),
 ('Horsepower', 'double'),
 ('Weight', 'decimal(4,0)'),
 ('Acceleration', 'double'),
 ('Model', 'int'),
 ('Origin', 'string'),
 ('car_model', 'string')]

In [ ]:
df.select(min(df.Weight + 20),max(df.Weight + 20)).show()

+------------------+------------------+
|min((Weight + 20))|max((Weight + 20))|
+------------------+------------------+
|              1633|              5160|
+------------------+------------------+

In [ ]:
from pyspark.sql.functions import to_date,to_timestamp

In [ ]:
df5 = spark.createDataFrame([('2024-01-07 12:39:45',)],['Date'])

In [ ]:
df5.show()

+-------------------+
|               Date|
+-------------------+
|2024-01-07 12:39:45|
+-------------------+

In [ ]:
df5.printSchema()

root
 |-- Date: string (nullable = true)

In [ ]:
df5.select(df5.Date,to_date(df5.Date),to_timestamp(df5.Date)).show()

+-------------------+-------------+-------------------+
|               Date|to_date(Date)| to_timestamp(Date)|
+-------------------+-------------+-------------------+
|2024-01-07 12:39:45|   2024-01-07|2024-01-07 12:39:45|
+-------------------+-------------+-------------------+

In [ ]:
car_name = spark.createDataFrame([[1,'A'],[2,'B'],[3,'C'],[4,'D'],[5,'E']],['id','Name'])

In [ ]:
car_price = spark.createDataFrame([[1,20000],[1,4000],[3,5000],[4,6000],[5,8000]],['id','price'])

In [ ]:
car_name.show()
car_price.show()

+---+----+
| id|Name|
+---+----+
|  1|   A|
|  2|   B|
|  3|   C|
|  4|   D|
|  5|   E|
+---+----+

+---+-----+
| id|price|
+---+-----+
|  1|20000|
|  1| 4000|
|  3| 5000|
|  4| 6000|
|  5| 8000|
+---+-----+

In [ ]:
car_name.join(car_price,car_name.id==car_price.id,'inner').select(car_name['id'],car_name['Name'],car_price['price']).show()

+---+----+-----+
| id|Name|price|
+---+----+-----+
|  1|   A|20000|
|  1|   A| 4000|
|  3|   C| 5000|
|  4|   D| 6000|
|  5|   E| 8000|
+---+----+-----+

In [ ]:
df.createOrReplaceTempView("temp")

In [ ]:
spark.sql('select * from temp').show(9,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|car_model                   |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |Buick Skylark 320 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |Plymouth Satellite 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |AMC Rebel SST 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |Ford Torino 70              |
|Ford Galaxie 500         |15.0|8        |429.0       |198.0     |4341  |10.0        |70   |US    |Ford Galaxie 500 70         |
|Chevrolet Impala         |14.0|8        |454.0       |220.0     |4354  |9.0         |70   |US    |Chevrolet Impala 70         |
|Plymouth Fury iii        |14.0|8        |440.0       |215.0     |4312  |8.5         |70   |US    |Plymouth Fury iii 70        |
|Pontiac Catalina         |14.0|8        |455.0       |225.0     |4425  |10.0        |70   |US    |Pontiac Catalina 70         |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+----------------------------+
only showing top 9 rows

In [ ]:
spark.sql("select Car,Model,Origin from temp where Model==80 and Origin='Japan'").show()

+--------------------+-----+------+
|                 Car|Model|Origin|
+--------------------+-----+------+
|Toyota Corolla Te...|   80| Japan|
|          Datsun 310|   80| Japan|
|Toyota Corolla Li...|   80| Japan|
|           Mazda 626|   80| Japan|
|Datsun 510 Hatchback|   80| Japan|
|      Toyota Corolla|   80| Japan|
|           Mazda GLC|   80| Japan|
|          Datsun 210|   80| Japan|
| Honda Civic 1500 gl|   80| Japan|
|           Subaru DL|   80| Japan|
|       Datsun 280-ZX|   80| Japan|
|       Mazda RX-7 GS|   80| Japan|
|        Honda Accord|   80| Japan|
+--------------------+-----+------+

In [ ]:
## rdd practices
rdd=spark.sparkContext.textFile('/content/drive/MyDrive/Pyspark/dafodil/rdd1.txt')

In [ ]:
rdd.collect()

["Bangladesh forms the sovereign part of the historic and ethnolinguistic region of Bengal, which was divided during the Partition of India in 1947.[21] The country has a Bengali Muslim majority. Ancient Bengal was known as Gangaridai and was a bastion of pre-Islamic kingdoms. Muslim conquests after 1204 heralded the sultanate and Mughal periods, during which an independent Bengal Sultanate and a wealthy Mughal Bengal transformed the region into an important centre of regional affairs, trade, and diplomacy. After 1757, Bengal's administrative jurisdiction reached its greatest extent under the Bengal Presidency of the British Empire. The creation of Eastern Bengal and Assam in 1905 set a precedent for the emergence of Bangladesh. In 1940, the first Prime Minister of Bengal, A. K. Fazlul Huq, supported the Lahore Resolution. Before the partition of Bengal, a Bengali sovereign state was first proposed by premier H. S. Suhrawardy. A referendum and the announcement of the Radcliffe Line established the present-day territorial boundary."]

In [ ]:
data = [1,2,3,4,5,6,7,8,9,11,22,33,44]
rdd1= spark.sparkContext.parallelize(data)

In [ ]:
rdd1.getNumPartitions()

2

In [ ]:
rdd1.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44]

In [ ]:
spark.sparkContext.parallelize(data,3).getNumPartitions()

3

In [ ]:
rdd1.glom().collect()

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 11, 22, 33, 44]]

In [ ]:
spark.sparkContext.parallelize(data,5).glom().collect()

[[1, 2], [3, 4], [5, 6, 7, 8], [9, 11], [22, 33, 44]]

In [ ]:
rdd2=rdd.flatMap(lambda x : x.split(' '))

In [ ]:
rdd2.collect()

['Bangladesh',
 'forms',
 'the',
 'sovereign',
 'part',
 'of',
 'the',
 'historic',
 'and',
 'ethnolinguistic',
 'region',
 'of',
 'Bengal,',
 'which',
 'was',
 'divided',
 'during',
 'the',
 'Partition',
 'of',
 'India',
 'in',
 '1947.[21]',
 'The',
 'country',
 'has',
 'a',
 'Bengali',
 'Muslim',
 'majority.',
 'Ancient',
 'Bengal',
 'was',
 'known',
 'as',
 'Gangaridai',
 'and',
 'was',
 'a',
 'bastion',
 'of',
 'pre-Islamic',
 'kingdoms.',
 'Muslim',
 'conquests',
 'after',
 '1204',
 'heralded',
 'the',
 'sultanate',
 'and',
 'Mughal',
 'periods,',
 'during',
 'which',
 'an',
 'independent',
 'Bengal',
 'Sultanate',
 'and',
 'a',
 'wealthy',
 'Mughal',
 'Bengal',
 'transformed',
 'the',
 'region',
 'into',
 'an',
 'important',
 'centre',
 'of',
 'regional',
 'affairs,',
 'trade,',
 'and',
 'diplomacy.',
 'After',
 '1757,',
 "Bengal's",
 'administrative',
 'jurisdiction',
 'reached',
 'its',
 'greatest',
 'extent',
 'under',
 'the',
 'Bengal',
 'Presidency',
 'of',
 'the',
 'British',
 'Empire.',
 'The',
 'creation',
 'of',
 'Eastern',
 'Bengal',
 'and',
 'Assam',
 'in',
 '1905',
 'set',
 'a',
 'precedent',
 'for',
 'the',
 'emergence',
 'of',
 'Bangladesh.',
 'In',
 '1940,',
 'the',
 'first',
 'Prime',
 'Minister',
 'of',
 'Bengal,',
 'A.',
 'K.',
 'Fazlul',
 'Huq,',
 'supported',
 'the',
 'Lahore',
 'Resolution.',
 'Before',
 'the',
 'partition',
 'of',
 'Bengal,',
 'a',
 'Bengali',
 'sovereign',
 'state',
 'was',
 'first',
 'proposed',
 'by',
 'premier',
 'H.',
 'S.',
 'Suhrawardy.',
 'A',
 'referendum',
 'and',
 'the',
 'announcement',
 'of',
 'the',
 'Radcliffe',
 'Line',
 'established',
 'the',
 'present-day',
 'territorial',
 'boundary.']

In [ ]:
rdd3=rdd2.map(lambda y : (y,1))

In [ ]:
rdd3.collect()

[('Bangladesh', 1),
 ('forms', 1),
 ('the', 1),
 ('sovereign', 1),
 ('part', 1),
 ('of', 1),
 ('the', 1),
 ('historic', 1),
 ('and', 1),
 ('ethnolinguistic', 1),
 ('region', 1),
 ('of', 1),
 ('Bengal,', 1),
 ('which', 1),
 ('was', 1),
 ('divided', 1),
 ('during', 1),
 ('the', 1),
 ('Partition', 1),
 ('of', 1),
 ('India', 1),
 ('in', 1),
 ('1947.[21]', 1),
 ('The', 1),
 ('country', 1),
 ('has', 1),
 ('a', 1),
 ('Bengali', 1),
 ('Muslim', 1),
 ('majority.', 1),
 ('Ancient', 1),
 ('Bengal', 1),
 ('was', 1),
 ('known', 1),
 ('as', 1),
 ('Gangaridai', 1),
 ('and', 1),
 ('was', 1),
 ('a', 1),
 ('bastion', 1),
 ('of', 1),
 ('pre-Islamic', 1),
 ('kingdoms.', 1),
 ('Muslim', 1),
 ('conquests', 1),
 ('after', 1),
 ('1204', 1),
 ('heralded', 1),
 ('the', 1),
 ('sultanate', 1),
 ('and', 1),
 ('Mughal', 1),
 ('periods,', 1),
 ('during', 1),
 ('which', 1),
 ('an', 1),
 ('independent', 1),
 ('Bengal', 1),
 ('Sultanate', 1),
 ('and', 1),
 ('a', 1),
 ('wealthy', 1),
 ('Mughal', 1),
 ('Bengal', 1),
 ('transformed', 1),
 ('the', 1),
 ('region', 1),
 ('into', 1),
 ('an', 1),
 ('important', 1),
 ('centre', 1),
 ('of', 1),
 ('regional', 1),
 ('affairs,', 1),
 ('trade,', 1),
 ('and', 1),
 ('diplomacy.', 1),
 ('After', 1),
 ('1757,', 1),
 ("Bengal's", 1),
 ('administrative', 1),
 ('jurisdiction', 1),
 ('reached', 1),
 ('its', 1),
 ('greatest', 1),
 ('extent', 1),
 ('under', 1),
 ('the', 1),
 ('Bengal', 1),
 ('Presidency', 1),
 ('of', 1),
 ('the', 1),
 ('British', 1),
 ('Empire.', 1),
 ('The', 1),
 ('creation', 1),
 ('of', 1),
 ('Eastern', 1),
 ('Bengal', 1),
 ('and', 1),
 ('Assam', 1),
 ('in', 1),
 ('1905', 1),
 ('set', 1),
 ('a', 1),
 ('precedent', 1),
 ('for', 1),
 ('the', 1),
 ('emergence', 1),
 ('of', 1),
 ('Bangladesh.', 1),
 ('In', 1),
 ('1940,', 1),
 ('the', 1),
 ('first', 1),
 ('Prime', 1),
 ('Minister', 1),
 ('of', 1),
 ('Bengal,', 1),
 ('A.', 1),
 ('K.', 1),
 ('Fazlul', 1),
 ('Huq,', 1),
 ('supported', 1),
 ('the', 1),
 ('Lahore', 1),
 ('Resolution.', 1),
 ('Before', 1),
 ('the', 1),
 ('partition', 1),
 ('of', 1),
 ('Bengal,', 1),
 ('a', 1),
 ('Bengali', 1),
 ('sovereign', 1),
 ('state', 1),
 ('was', 1),
 ('first', 1),
 ('proposed', 1),
 ('by', 1),
 ('premier', 1),
 ('H.', 1),
 ('S.', 1),
 ('Suhrawardy.', 1),
 ('A', 1),
 ('referendum', 1),
 ('and', 1),
 ('the', 1),
 ('announcement', 1),
 ('of', 1),
 ('the', 1),
 ('Radcliffe', 1),
 ('Line', 1),
 ('established', 1),
 ('the', 1),
 ('present-day', 1),
 ('territorial', 1),
 ('boundary.', 1)]

In [ ]:
rdd4=rdd3.reduceByKey(lambda a,b:a+b)

In [ ]:
rdd4.collect()

[('of', 11),
 ('historic', 1),
 ('ethnolinguistic', 1),
 ('region', 2),
 ('was', 4),
 ('during', 2),
 ('Partition', 1),
 ('India', 1),
 ('in', 2),
 ('1947.[21]', 1),
 ('The', 2),
 ('country', 1),
 ('known', 1),
 ('as', 1),
 ('Gangaridai', 1),
 ('bastion', 1),
 ('kingdoms.', 1),
 ('after', 1),
 ('1204', 1),
 ('heralded', 1),
 ('sultanate', 1),
 ('an', 2),
 ('Sultanate', 1),
 ('transformed', 1),
 ('into', 1),
 ('regional', 1),
 ('affairs,', 1),
 ('1757,', 1),
 ("Bengal's", 1),
 ('administrative', 1),
 ('reached', 1),
 ('greatest', 1),
 ('extent', 1),
 ('Assam', 1),
 ('set', 1),
 ('emergence', 1),
 ('1940,', 1),
 ('A.', 1),
 ('K.', 1),
 ('Lahore', 1),
 ('Resolution.', 1),
 ('partition', 1),
 ('state', 1),
 ('proposed', 1),
 ('premier', 1),
 ('referendum', 1),
 ('Radcliffe', 1),
 ('Line', 1),
 ('established', 1),
 ('boundary.', 1),
 ('Bangladesh', 1),
 ('forms', 1),
 ('the', 14),
 ('sovereign', 2),
 ('part', 1),
 ('and', 7),
 ('Bengal,', 3),
 ('which', 2),
 ('divided', 1),
 ('has', 1),
 ('a', 5),
 ('Bengali', 2),
 ('Muslim', 2),
 ('majority.', 1),
 ('Ancient', 1),
 ('Bengal', 5),
 ('pre-Islamic', 1),
 ('conquests', 1),
 ('Mughal', 2),
 ('periods,', 1),
 ('independent', 1),
 ('wealthy', 1),
 ('important', 1),
 ('centre', 1),
 ('trade,', 1),
 ('diplomacy.', 1),
 ('After', 1),
 ('jurisdiction', 1),
 ('its', 1),
 ('under', 1),
 ('Presidency', 1),
 ('British', 1),
 ('Empire.', 1),
 ('creation', 1),
 ('Eastern', 1),
 ('1905', 1),
 ('precedent', 1),
 ('for', 1),
 ('Bangladesh.', 1),
 ('In', 1),
 ('first', 2),
 ('Prime', 1),
 ('Minister', 1),
 ('Fazlul', 1),
 ('Huq,', 1),
 ('supported', 1),
 ('Before', 1),
 ('by', 1),
 ('H.', 1),
 ('S.', 1),
 ('Suhrawardy.', 1),
 ('A', 1),
 ('announcement', 1),
 ('present-day', 1),
 ('territorial', 1)]

In [ ]:
rdd5=rdd4.map(lambda x: (x[0], x[1])).sortByKey()

In [ ]:
rdd5.collect()

[('1204', 1),
 ('1757,', 1),
 ('1905', 1),
 ('1940,', 1),
 ('1947.[21]', 1),
 ('A', 1),
 ('A.', 1),
 ('After', 1),
 ('Ancient', 1),
 ('Assam', 1),
 ('Bangladesh', 1),
 ('Bangladesh.', 1),
 ('Before', 1),
 ('Bengal', 5),
 ("Bengal's", 1),
 ('Bengal,', 3),
 ('Bengali', 2),
 ('British', 1),
 ('Eastern', 1),
 ('Empire.', 1),
 ('Fazlul', 1),
 ('Gangaridai', 1),
 ('H.', 1),
 ('Huq,', 1),
 ('In', 1),
 ('India', 1),
 ('K.', 1),
 ('Lahore', 1),
 ('Line', 1),
 ('Minister', 1),
 ('Mughal', 2),
 ('Muslim', 2),
 ('Partition', 1),
 ('Presidency', 1),
 ('Prime', 1),
 ('Radcliffe', 1),
 ('Resolution.', 1),
 ('S.', 1),
 ('Suhrawardy.', 1),
 ('Sultanate', 1),
 ('The', 2),
 ('a', 5),
 ('administrative', 1),
 ('affairs,', 1),
 ('after', 1),
 ('an', 2),
 ('and', 7),
 ('announcement', 1),
 ('as', 1),
 ('bastion', 1),
 ('boundary.', 1),
 ('by', 1),
 ('centre', 1),
 ('conquests', 1),
 ('country', 1),
 ('creation', 1),
 ('diplomacy.', 1),
 ('divided', 1),
 ('during', 2),
 ('emergence', 1),
 ('established', 1),
 ('ethnolinguistic', 1),
 ('extent', 1),
 ('first', 2),
 ('for', 1),
 ('forms', 1),
 ('greatest', 1),
 ('has', 1),
 ('heralded', 1),
 ('historic', 1),
 ('important', 1),
 ('in', 2),
 ('independent', 1),
 ('into', 1),
 ('its', 1),
 ('jurisdiction', 1),
 ('kingdoms.', 1),
 ('known', 1),
 ('majority.', 1),
 ('of', 11),
 ('part', 1),
 ('partition', 1),
 ('periods,', 1),
 ('pre-Islamic', 1),
 ('precedent', 1),
 ('premier', 1),
 ('present-day', 1),
 ('proposed', 1),
 ('reached', 1),
 ('referendum', 1),
 ('region', 2),
 ('regional', 1),
 ('set', 1),
 ('sovereign', 2),
 ('state', 1),
 ('sultanate', 1),
 ('supported', 1),
 ('territorial', 1),
 ('the', 14),
 ('trade,', 1),
 ('transformed', 1),
 ('under', 1),
 ('was', 4),
 ('wealthy', 1),
 ('which', 2)]

In [ ]:
rdd6=rdd5.filter(lambda x : 'is' in x[0])

In [ ]:
rdd6.collect()

[('British', 1),
 ('Minister', 1),
 ('administrative', 1),
 ('established', 1),
 ('ethnolinguistic', 1),
 ('historic', 1),
 ('jurisdiction', 1)]